 <div class="row">
    <div class="col s12">
        <h5 class="center">Редактор новости</h5>
       <form  id="editnews" action="edit?idn={{content.id}}" method="post" enctype="multipart/form-data" class="col s12">
         <div class="row">
            <div class="input-field col s12">
                <input placeholder="В САНКТ-ПЕТЕРБУРГСКОМ ПАНСИОНЕ ВОСПИТАННИЦ" name="new_head" value="{{content.head}}" id="new_head" type="text" class="validate">
                <label for="new_head">Заголовок</label>
            </div>
            <div class="input-field col s12">
                 <textarea placeholder="Основное содержание" name="new_text" id="new_text" class="materialize-textarea">{{content.cont}}</textarea>
                 <label for="new_text">Содержание новости</label> 
            </div>
            <div class="input-field col s6">
                <input placeholder="Дата мероприятия" value="{{content.mpdate}}" name="new_date" id="mp_date" type="text" class="datepicker">
                <label class="active" for="mp_date">Дата</label>
            </div>
            <div class="input-field col s6">
                <input placeholder="Гришина Елена" value="{{content.autor}}" id="new_auth" name="new_auth" type="text" class="validate">
                <label class="active" for="new_auth">Фамилия Имя автора новости</label>
            </div>
            <div class="input-field col s12">
                <div class="file-field input-field">
                <div class="btn">
                    <span>Загрузить обложку</span>
                    <input type="file" name="mainpic">
                </div>
                <div class="file-path-wrapper">
                    <input class="file-path validate" type="text" id="main_pic_name" name="main_pic_name">
                </div>
                </div>  
            </div>    
            <div class="input-field col s12">
                <div class="file-field input-field">
                    <div class="btn">
                        <span>Загрузить</span>
                        <input type="file" multiple name='newsimg'>
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" id="all_pic_name" name="all_pic_name" type="text" placeholder="Загрузите фотографии к новости">
                    </div>
                    </div>
            </div> 
                {{#if content}}
                        {{#each content.pictures}}
                            {{#if @index}}
                            <div class="center-align input-field col s6"> 
                                <img class="materialboxed responsive-img center-align" src="{{this}}">
                                <div class="input-field">
                                    <button id="{{this}}" class="delbtnc btn-small waves-effect waves-light #f44336 red" >Удалить фотографию
                                    <i class="material-icons right">delete_forever</i>
                                    </button>   
                                </div>
                            </div>              
                            {{else}}
                            <div class="center-align input-field col s6 offset-s3  #64b5f6 blue lighten-5"> 
                                <h6 class="tiny">Заставка</h6>
                                <img class="materialboxed responsive-img center-align"  src="{{this}}">
                            </div>                               
                            {{/if}}
                        {{/each}}
                    {{else}}

                    {{/if}}              
       {{#if_more auth 2}}
       <div class="input-field col s6 offset-s3"> 
            <p>
                <label>
                    {{#if_eq content.status 2}}
                    <input id="commentbo" name="statusch" type="radio" value="true" checked   />
                    {{else}}
                    <input id="commentbo" name="statusch" type="radio" value="true"   />   
                    {{/if_eq}}
                    <span>Утверждаю</span>
                </label>
            </p>
                <p>
                <label>
                    {{#if_eq content.status 1}}
                    <input id="commentbox" name="statusch" type="radio" value="false" checked/>
                    {{else}}
                    <input id="commentbox" name="statusch" type="radio" value="false"/>
                    {{/if_eq}}
                    <span>Необходимо доработать</span>
                </label>
                </p>   
                {{#if_eq content.status 1}}
            <div class="input-field col s12" id="combox">
                {{else}}
            <div class="input-field col s12" id="combox" hidden>
                 {{/if_eq}}
                <textarea placeholder="Опишите подробно ваши замечания!" name="new_comm" id="new_comm" class="materialize-textarea">{{content.comment}}</textarea>
                <label for="new_comm">Что необходимо исправить?</label>
            </div>   
            {{/if_more}}          
       </div>
        <div class="center-align input-field col s6 offset-s3">
            <button id="btnorto" class="btn waves-effect waves-light #64b5f6 blue lighten-2" >Проверить орфографию
            <i class="material-icons right">format_quote</i>
            </button>
        </div>
        <div class="center-align input-field col s6 offset-s3">
            <button class="btn waves-effect waves-light" id="editbtn" disabled type="submit" name="action">Сохранить изменения
            <i class="material-icons right">send</i>
            </button>
        </div>
       <input id="fordel" name="picfordel" type="text" hidden>                    
       </form> 
       {{>card}}
    </div>
 </div>