<div class="container">
 <div class="row">
    <h5 class="center">Номинация: "{{film.0.typen}}"</h5>
    <form id="sendnews" action="upload" method="post" enctype="multipart/form-data" class="col s12">
      <div class="row">
                 <div class="col s12 m10 offset-m1"> 
                <div class="card ">
                    <div class="card-content">
                    <span class="card-title">Название фильма: {{film.0.film}}</span>
                    <p>{{film.0.pku}}</p>
                    </div>
                </div>
                      <input name="filmid" value="{{film.0.id}}" hidden type="text" class="validate">
                      <input name="userid" value="{{user}}" hidden type="text" class="validate">
                 </div>
                <div class="col s12"> 
                    <h5 class="center">Соответствие заявленному жанру{{#if_j film.0.type 4 5}}, актуальность и социальная значимость{{/if_j}}</h5>
                    <input class="slider-update-inp" type="text" value="0" hidden name="janr">       
                    <div class="slider-update" name="janr"></div>
                    <input hidden value="5" class="slider-max">
                    <br> <br> 
                </div>
                {{#if_j film.0.type 0}}
                <div class="col s12"> 
                    <h5 class="center">Драматургия</h5>
                    <p class="center">(тема, идея, сюжет, композиция героя, характеры)</p>
                    
                    <input class="slider-update-inp" type="text" value="0" hidden name="dram">        
                    <div class="slider-update" name="dram"></div>
                    <input hidden value="10" class="slider-max">
                    <br> <br> 
                </div>
                {{/if_j}}
                {{#if_j film.0.type 1 2}}
                <div class="col s12"> 
                    <h5 class="center">Актуальность и социальная значимость</h5>
                   
                    <input class="slider-update-inp" type="text" value="0" hidden name="actu">        
                    <div class="slider-update" name="actu"></div>
                    <input hidden value="5" class="slider-max">
                    <br> <br> 
                </div>
                {{/if_j}}
                {{#if_j film.0.type 1 2}}
                <div class="col s12"> 
                    <h5 class="center">Оригинальность идеи и исполнения</h5>
                    
                    <input class="slider-update-inp" type="text" value="0" hidden name="orig">        
                    <div class="slider-update" name="orig"></div> 
                    <input hidden value="5" class="slider-max">
                    <br> <br> 
                </div>
                {{/if_j}}
                {{#if_j film.0.type 1 2}}
                <div class="col s12"> 
                    <h5 class="center">Содержательность работы</h5>
                   
                    <input class="slider-update-inp" type="text" value="0" hidden name="soder">        
                    <div class="slider-update" name="soder"></div>
                    <input hidden value="10" class="slider-max">
                    <br> <br> 
                </div>
                {{/if_j}}
                {{#if_j film.0.type 0 4 5}}
                <div class="col s12"> 
                    <h5 class="center">Художественные достоинства</h5>
                    <p class="center ">(режиссерские решения, выдержанность стиля, цельность и законченность композиции, работа актеров, использование реквизита)</p>
                     
                    <input class="slider-update-inp" type="text" value="0" hidden name="hyd">      
                    <div class="slider-update" name="hyd"></div>
                    <input hidden value="5" class="slider-max">
                    <br> <br> 
                </div>
                {{/if_j}}
                <div class="col s12"> 
                    <h5 class="center">Техническая реализация</h5>
                    <p class="center ">(качество видеосъемки, монтаж, компьютерная графика, сложность исполнения)</p>
                    
                    <input class="slider-update-inp" type="text" value="0" hidden name="tex">       
                    <div class="slider-update" name="tex"></div>
                    <input hidden value="10" class="slider-max">
                    <br> <br> 
                </div>
                <div class="col s12"> 
                    <h5 class="center">Выразительные средства</h5>
                    <p class="center ">(цвет, свет, стиль, дизайн, эффекты, музыкальное и звуковой сопровождение, интонация)</p>
                  
                    <input class="slider-update-inp" type="text" value="0" hidden name="vira">    
                    <div class="slider-update" name="vira"></div>
                    <input hidden value="5" class="slider-max">
                    <br> <br> 
                </div>
                <div class="col s12"> 
                    <br> <br> 
                <button class="col s12 btn waves-effect waves-light center" type="submit" name="action">Проголосовать
                <i class="material-icons right">send</i>
                </button>
                </div>
       </div>            
     </div>
    </form>
  </div>

  <script>
   // var slider_val = document.getElementsByClassName('slider-update-value');
    var slider_inp = document.getElementsByClassName('slider-update-inp');
    var slider_div = document.getElementsByClassName('slider-update');
    var slider_max = document.getElementsByClassName('slider-max');
    var sett = [5,10,10,10,5]
    for (let i = 0; i < slider_div.length; i++){
        let max = parseInt(slider_max[i].value)
        noUiSlider.create(slider_div[i], {
            start: 0,
            connect: true,
              margin: 300,
            step: 1,
            behaviour: 'tap',
            orientation: 'horizontal',
            range: {
                'min': 0,
                'max': max
            },
             behaviour: 'tap-drag',
            tooltips: true,
            pips: {
                mode: 'values',
                values: s(max),
                density: 5
            }
        });
       slider_div[i].noUiSlider.on('update', function (values, handle) {
        slider_inp[i].value = Math.round(values[handle]);   
        });
    }

        
    function s(j){
        var pres = []
        let ans = 0
        for (let k = 0; k <= j; k++){
            pres.push(ans++)
        }
        return pres;
    }
    if (Cookies.get('head')!=undefined){
        $( "#new_head" ).val(Cookies.get('head'))
    }
    if (Cookies.get('text')!=undefined){
        $( "#new_text" ).val(Cookies.get('text'))
    }

    $( "#new_head" ).keydown(function() {
      Cookies.set('head', $( "#new_head" ).val())
    });
    $( "#new_text" ).keydown(function() {
      Cookies.set('text', $( "#new_text" ).val())
    });
    $(document).ready(function(){
          // janr dram actu orig soder hyd tex vira
    try{document.getElementsByName('janr')[1].noUiSlider.set({{vres.janr}})} catch(e){
            console.dir(e)
       }
    try{document.getElementsByName('dram')[1].noUiSlider.set({{vres.dram}})} catch(e){
            console.dir(e)
    }
    try{document.getElementsByName('actu')[1].noUiSlider.set({{vres.actu}})} catch(e){
            console.dir(e)
    }
    try{document.getElementsByName('orig')[1].noUiSlider.set({{vres.orig}})} catch(e){
            console.dir(e)
    }
    try{document.getElementsByName('soder')[1].noUiSlider.set({{vres.soder}})} catch(e){
            console.dir(e)
    }
    try{document.getElementsByName('hyd')[1].noUiSlider.set({{vres.hyd}})} catch(e){
            console.dir(e)
    }
    try{document.getElementsByName('tex')[1].noUiSlider.set({{vres.tex}})} catch(e){
            console.dir(e)
    }
       try{document.getElementsByName('vira')[1].noUiSlider.set({{vres.vira}})} catch(e){
            console.dir(e)
       }

    })

  </script>
