    <div class="row">
    {{#each content}}
        {{#if_m @index}}
        </div>
         <div class="row">
        {{/if_m}}
        <div class="col s12 m6">
          <div class="card ">
            <div class="card-content ">
              <span class="card-title">№{{this.id}} {{this.film}}</span>
              <p>{{this.pku}}</p>
            </div>
            <div class="card-action">
              <a id="btn{{this.id}}" class="btn blue" href="/form?filmid={{this.id}}">Оценить фильм</a>
            </div>
          </div>
        </div>                        

    {{/each}}

<script>
  $(document).ready(function(){
    function voted() {
      let u = {{usr}}
      $.get( "/test", { id: u} ).done(function( data ) {
        console.dir(data)
        let ans = JSON.parse(data)
        for (let i = 0; i < ans.length; i++) {
          try{
            
            console.log(ans)
            console.log(`#btn${ans[i]}`)
          $( `#btn${ans[i]}` ).removeClass( "blue" )   
          $( `#btn${ans[i]}` ).text("Изменить решение") 
          }
          catch(e){
              console.log(e)
          }
        
        } 
        console.log( "Data Loaded: " + data );
      });;
    }
    voted()
  })
</script>