<p class="center">Министерство обороны Российской Федерации <br>
VI кинофестиваль любительских короткометражных фильмов и видеоработ <br>
«КАДЕТСКИЙ ВЗГЛЯД» <br>
Итоговый протокол <br>
Номинация: "{{nom}}"</p>
<div class="row">
    <div class="col s12">
        <table border="1" class="responsive-table centered striped highlight ">
                <thead>
                <tr>
                    <th>№ п/п</th>
                    <th>Училище</th>
                    <th>Фильм</th>
                    <th>Соответствие заявленному жанру</th>
                   {{#if_j type 0}} <th>Драматургия</th>{{/if_j}}
                   {{#if_j type 1 2}}<th>Актуальность и социальная значимость</th>{{/if_j}}
                   {{#if_j type 1 2}} <th>Оригинальность идеи и исполнения</th>{{/if_j}}
                   {{#if_j type 1 2}} <th>Содержательность работы</th>{{/if_j}}
                   {{#if_j type 0 3 4 5}}<th>Художественные достоинства</th>{{/if_j}}
                    <th>Техническая реализация</th>
                    <th>Выразительные средства</th>
                    <th>Итого</th>
                    <th>Результат</th>
                    
                </tr>
                </thead>
                {{#OK}}{{/OK}}
                <tbody>
                    {{#each content}}
                    {{#if_eq this.itogs -5}}
                     <tr>
                    <td>{{this.id}}</td>
                    <td>{{this.pku}}</td>
                    <td>{{this.film}}</td>
                    <td>-</td>
                    {{#if_j this.type 0}}<td>-</td>{{/if_j}}
                    {{#if_j this.type 1 2}} <td>-</td>{{/if_j}}
                    {{#if_j this.type 1 2}}<td>-</td>{{/if_j}}
                    {{#if_j this.type 1 2}}<td>-</td>{{/if_j}}
                    {{#if_j this.type 0 3 4 5}}<td>-</td>{{/if_j}}
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    {{#if_more this.type 1}}<td>-</td>{{/if_more}}
                    {{#if_j this.type 0}}<td>-</td>{{/if_j}}
                    </tr>                      
                    {{else}}
                    <tr>
                    <td>{{this.id}}</td>
                    <td>{{this.pku}}</td>
                    <td>{{this.film}}</td>
                    <td>{{this.janr}}</td>
                    {{#if_j this.type 0}}<td>{{this.dram}}</td>{{/if_j}}
                    {{#if_j this.type 1 2}} <td>{{this.actu}}</td>{{/if_j}}
                    {{#if_j this.type 1 2}}<td>{{this.orig}}</td>{{/if_j}}
                    {{#if_j this.type 1 2}}<td>{{this.soder}}</td>{{/if_j}}
                    {{#if_j this.type 0 3 4 5}}<td>{{this.hyd}}</td>{{/if_j}}
                    <td>{{this.tex}}</td>
                    <td>{{this.vira}}</td>
                    <td>{{this.itogs}}</td>
                    {{#if_more this.type 1}}<td>{{#I_C}}{{/I_C}}</td>{{/if_more}}
                    {{#if_j this.type 0}}<td>{{#SH_L}}{{/SH_L}}</td>{{/if_j}}
                    </tr>                       
                    {{/if_eq}}
 
                    {{/each}}
                </tbody>
        </table>

    </div>

</div>
