<p class="center">Министерство обороны Российской Федерации <br>
VI кинофестиваль любительских короткометражных фильмов и видеоработ <br>
«КАДЕТСКИЙ ВЗГЛЯД» <br>
Итоговый протокол <br>
Номинация: "Игровой короткометражный фильм"</p>
<div class="row">
    <div class="col s12">
        <table border="1" class="responsive-table centered striped highlight ">
                <thead>
                <tr>
                    <th>№ п/п</th>
                    <th>Училище</th>
                    <th>Фильм</th>
                    <th>Соответствие заявленному жанру</th>
                   {{#if_j type 0 6}} <th>Драматургия</th>{{/if_j}}
                   {{#if_j type 1 2}}<th>Актуальность и социальная значимость</th>{{/if_j}}
                   {{#if_j type 1 2}} <th>Оригинальность идеи и исполнения</th>{{/if_j}}
                   {{#if_j type 1 2}} <th>Содержательность работы</th>{{/if_j}}
                   {{#if_j type 0 3 4 5 6}}<th>Художественные достоинства</th>{{/if_j}}
                    <th>Техническая реализация</th>
                    <th>Выразительные средства</th>
                    <th>Итого</th>
                    <th>Результат</th>
                    
                </tr>
                </thead>
                {{#OK}}{{/OK}}
                <tbody>
                      
                    {{#each content}}
                    {{#if_eq this.itogs -5}}
                     <tr>
                    <td>{{this.id}}</td>
                    <td>{{this.pku}}</td>
                    <td>{{this.film}}</td>
                    <td>-</td>
                    {{#if_j this.type 0 6}}<td>-</td>{{/if_j}}
                    {{#if_j this.type 1 2}} <td>-</td>{{/if_j}}
                    {{#if_j this.type 1 2}}<td>-</td>{{/if_j}}
                    {{#if_j this.type 1 2}}<td>-</td>{{/if_j}}
                    {{#if_j this.type 0 3 4 5 6}}<td>-</td>{{/if_j}}
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>Вне конкурса</td>
                    </tr>                      
                    {{else}}
                    <tr>
                    <td>{{this.id}}</td>
                    <td>{{this.pku}}</td>
                    <td>{{this.film}}</td>
                    <td>{{this.janr}}</td>
                    <td>{{this.dram}}</td>
                    <td>{{this.hyd}}</td>
                    <td>{{this.tex}}</td>
                    <td>{{this.vira}}</td>
                    <td>{{this.itogs}}</td>
                    <td>{{#I_CS}}{{/I_CS}}</td>
                    </tr>                       
                    {{/if_eq}}
 
                    {{/each}}
                </tbody>
        </table>
    </div>
    <div class="col s12">     
        <p class="center">Специальные номинации:</p>                
        <p>Лучший сценарий:_________</p>
        <p>Лучший режиссёр:_________</p>
        <p>Лучшая операторская работа:_________</p>
        <p>Лучший монтаж и компьтерная графика:_________</p>
        <p>Лучшее звуковое оформление:_________</p>
        <p>Лучшая мужская роль:_________</p>
        <p>Лучшая женская роль:_________</p>
    </div>
    
    <div class="col s12">                     
        <p>Особое мнение экспертной группы:____________________________________________________________________________________
            <br>__________________________________________________________________________________________________________________
            <br>__________________________________________________________________________________________________________________
        </p>
    </div>


  <div class="col s12">
   <p class="right">Председатель экспертной группы ___________ /А.Г. Гуськов/</p>
    </div>
</div>
