<script src="https://cdn.jsdelivr.net/npm/chart.js@3.9.1/dist/chart.min.js"></script>

 <div class="row">
    <div class="card col s12 m6 offset-m3 flow-text">
        <h2 class="header center">Cтатистика</h2>
        <div class="card-content">
            
            <ul>
                 <li>Новостей в системе <span class="right">{{info.allnews}}</span></li>
                <li>Дней без замечаний: <span class="right">{{info.dwer}}</span></li> 
               
                
                {{!-- <li>Документов: <span class="right">0</span></li> --}}
                <li class="divider"></li>
            </ul>
            <div class="row">
                {{!-- <div class="center">Новостей на <span>{{info.daten}}</span></div> --}}
                <div class="col m8 s12 offset-m2">
                    <canvas id="myChart" width="10" height="10"></canvas>
                </div>
                <div class="col s12">
                    <ul> 
                    
                        <li class="divider"></li>
                        <li>
                            <span style="color: #ffdc5e;background-color: #ffdc5e;">LLLLL</span> Не утверждено:<span class="right ">{{info.new}}</span></li>
                        <li><span style="color: #39b3ff;background-color: #39b3ff">LLLLL</span> Утверждено<span class="right">{{info.tos}}</span></li>
                        <li><span style="color: #f16379;background-color: #f16379;">LLLLL</span> На доработке:<span class="right ">{{info.toed}}</span></li>
                        <li><span style="color: #eda4ff;background-color: #eda4ff;">LLLLL</span> На публикации:<span class="right">{{info.sent}}</span></li>
                        <li><span style="color: #4dff6e;background-color: #4dff6e;">LLLLL</span> Опубликовано:<span class="right ">{{info.publ}}</span></li>
                        <li><span style="color: #ff465e;background-color: #ff465e;">LLLLL</span> Неверно опубликовано:<span class="right ">{{info.err}}</span></li>
                        <li class="divider"></li>
                        <li class="center">Лидеры по количеству новостей</li>
                        {{#each info.leader}}
                        <li class="center"><span class="left">{{#I_C}}{{/I_C}}</span> {{this.autor}} <span class="right">{{this.ans}}</span></li>
                        {{/each}}
                        <li class="divider"></li>
                        <li class="center">Меньше всех замечаний</li>
                        <li >1 место<span class="right">Лидера пока нет</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
 </div>
{{#OK}}{{/OK}}

<script>
const ctx = document.getElementById('myChart').getContext('2d');
const actions = [
  {
    name: 'Randomize',
    handler(chart) {
      chart.data.datasets.forEach(dataset => {
        dataset.data = Utils.numbers({count: chart.data.labels.length, min: 0, max: 5});
      });
      chart.update();
    }
  },
];
let delayed;
const myChart = new Chart(ctx, {
    type: 'pie',
    options: {
        responsive: true,
         animation: {
      onComplete: () => {
        delayed = true;
      },
      delay: (context) => {
        let delay = 0;
        if (context.type === 'data' && context.mode === 'default' && !delayed) {
          delay = context.dataIndex * 300 + context.datasetIndex * 100;
        }
        return delay;
      },
    },
         scales: {
            display: false,
            y: {
                display: false,
                title: {
                display: false,
                text: 'Month'
                },
                ticks: {
                 stepSize: 1
                },
        },
         },
        plugins: {
            legend:{
                display: true,
                align: "center",
                labels:{
                    pointStyle: 'circle',
                    boxWidth:10,
                    boxHeight:10,
                    textAlign:"center",
                    
                }
            }
        }
    },
    data: {
        labels: ['Не утверждено', 'Утверждено','На доработке', 'На публикации', 'Опубликовано', 'Неверно опубликовано'],
        datasets: [{
            label: 'Из {{info.allnews}} новостей',
            data: [{{info.statusarr}}],
            
            //options.plugins.legend.labels Chart.overrides[type].plugins.legend
                
           // data: [{{info.statusarr}}],
            backgroundColor: [
            '#ffdc5e', '#39b3ff', '#f16379', '#eda4ff', '#4dff6e', '#ff465e'],
            borderColor: [
            '#000000'  
            ],
            borderWidth: 1
        }]
    },
});

</script>